<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="stringConexao" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\flavio.barbosa\Desktop\dbFuncional.accdb;"
      providerName="System.Data.OleDb" />
    <add name="ROL.Properties.Settings.bdConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\bd.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>